/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
ADDED By Khaled
Email: khaled@softsolvers.com.my
*/
/* 
    Created on : Oct 24, 2018, 10:14:19 AM
    Author     : Softsolvers
*/

.related-tabs .nav-tabs>li.active,
/*.related-tabs .nav-tabs>li:hover,*/
.related-tabs .nav-tabs>li.active:focus,
.dashBoardContainer .nav-tabs>li.active,
/*.dashBoardContainer .nav-tabs>li:hover,*/
.dashBoardContainer .nav-tabs>li.active:focus,
.contents.tabbable .nav-tabs>li.active,
/*.contents.tabbable .nav-tabs>li:hover,*/
.contents.tabbable .nav-tabs>li.active:focus {
  border: none;
  border-bottom: 5px solid #2f5597 !important;
}
.record-header .recordBasicInfo h4{
    margin-top: 30px;
}
#appnav button{
    background-color:  #2f5597;
    border: 1px solid #2f5597;
     margin-right: 5px;
     color: #fff;
}